#clickClock {
	float: left;
	width: 100px;
	margin-right: 15px;
}
#clickLimit {
	display: inline;
}
#clickCounter {
	position: absolute;
	float: right;
	right: 6px;
	margin: 0;
	color: #fff;
	z-index: 11;
}
#status div:nth-child(3) {
	display: none !important;
}
